{% extends 'helldorado/main.html' %}

{% block title %} index {% endblock %}

{% block content %}
    <h3> L'histoire </h3>
    <p> Le jeu se déroule au xviie siècle, durant la guerre de Trente Ans, mais dans un monde alternatif,
        où des portes menant vers les Enfers se sont ouvertes. En 1631, le Saint Empire Romain Germanique pille
        la ville de Magdebourg, et massacre la population. À ce moment-là une porte vers les Enfers s'ouvre.
        L'armée impériale décide de passer la porte avec quelques éclaireurs, puis installe une première colonie
        un peu plus tard. Les différents royaumes européens continuent leurs guerres, mais d'autres portes
        s'ouvrent, notamment à La Rochelle et à Séville. Les Occidentaux décident alors de coloniser et
        d'évangéliser les Enfers. Pour exploiter les ressources de ce nouveau territoire, les Occidentaux
        envoient de plus en plus de troupes, et créent la Nouvelle Jérusalem. Mais depuis plus de quatre siècles
        les Sarrasins étaient arrivés aux Enfers, à la recherche de la porte qui mènerait vers le Paradis. `
        Les ressources ne les intéressent pas.</p>
    <p> Face à des Occidentaux belliqueux et à des Sarrasins habitués au territoire, les Démons se retrouvent à
        faire des pactes avec les Sarrasins, mais subissent de nombreuses défaites face aux Occidentaux.
        Des anges déchus les rejoignent et les mènent au combat pour permettre aux démons de garder leur
        territoire.
    </p>
    <p> Entre ces différentes factions, les égarés veulent être libres, et doivent se battre contre les démons
        pour obtenir cette liberté, mais aussi contre les Occidentaux et les Sarrasins pour garder les Enfers.
        Plusieurs batailles ont donc lieu entre les factions.
    </p>
{% endblock %}